.hero-unit

  %h1 Discuss It!

  %p Online article discussion tracker website for locating online discussions about a given article.

  .wrapper

    .row-fluid
      %ul.thumbnails
        %li.span4
          .thumbnail
            %img{src:"https://secure.gravatar.com/avatar/68a526b3e51ee3ed4c1d10e8b7fbd3c7?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"}
            .caption
              %h4 theoretick
              %p{align:"center"}
                %a.btn.btn-primary.btn-block{:href => "https://github.com/theoretick"} Github Profile
        %li.span4
          .thumbnail
            %img{src:"https://secure.gravatar.com/avatar/81060418d41061aade8c8f7d74b584c4?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"}
            .caption
              %h4 CodingAntecedent
              %p{align:"center"}
                %a.btn.btn-primary.btn-block{:href => "https://github.com/codingantecedent"} Github Profile
        %li.span4
          .thumbnail
            %img{src:"https://secure.gravatar.com/avatar/7aa1140a4a9a313576971b9e74d9f90d?s=420&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"}
            .caption
              %h4 ericalthatcher
              %p{align:"center"}
                %a.btn.btn-primary.btn-block{:href => "https://github.com/ericalthatcher"} Github Profile
