<div class="hero-unit">
  <h1>Discuss It!</h1>
  <p>Discuss-it – Online article discussion tracker website for locating online discussions about a given article.</p>
  <!-- Text input-->
  <div class="control-group">
    <label class="control-label" for="textinput">Article Link</label>
    <div class="controls">
      <%= form_tag static_pages_submit_path do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search", :class => "btn btn-primary btn-large") %>
      <% end %>
    </div>
  </div>
</div>

<hr>

