
<div class="hero-unit">
  <h1>Discuss It!</h1>
  <p>Online article discussion tracker website for locating online discussions about a given article.</p>
  <div class="row-fluid">
    <div class="columnA pull-center">
         <h2>RESULTS!!!</h2>
          <% @results.each do |result| %>
          <%= link_to result, result %>
          <% end %>
    </div>
</div>
  <!-- Text input-->
  <hr>
