.hero-unit

  %h1 Discuss It!

  %p Online link discussion tracker for locating conversations about a given url.

  .row-fluid
    %p.pagination-centered
      %br
      %b.pull-left Discussions about:
      %br
      = link_to @query_url, ( @query_url.start_with?('http') ? @query_url : "http://#{@query_url}")

    %h3 TOP DISCUSSIONS

    #top-results

      %table.table#top-discussions-table
        %thead
          %tr
            %th.listing-metadata
            %th.listing-link
            %th.listing-score
        %tbody

    %br

    %h3 ALL DISCUSSIONS

    #all-results

      %table.table#all-discussions-table
        %thead
          %tr
            %th.listing-metadata
            %th.listing-link
            %th.listing-score
        %tbody

    %br

    %button#filtered-btn.btn.btn-block.btn-large.btn-info{"data-target" => "#filtered-results", "data-toggle" => "collapse", type: "button"}
      %span.caret
      CLICK TO VIEW FILTERED RESULTS
      %span.caret

    #filtered-results.collapse

      %h3.small DISCUSSIONS WITHOUT COMMENTS

      %table.table#filtered-discussions-table
        %thead
          %tr
            %th.listing-metadata
            %th.listing-link
            %th.listing-score
        %tbody

/- content_for :scripts do
/  = javascript_include_tag 'submit'