<div class="hero-unit">
  <h1>Discuss It!</h1>
  <p>Online article discussion tracker website for locating online discussions about a given article.</p>
  <div class="row-fluid">
    <div class="columnA pull-center">
      <h3>TOP RESULTS</h3>
      <% if @results.empty? %>
        <!-- [TODO] need to make do something -->
        <p>Sorry, no discussions found.  <a href="/">Try again?</a></p>
      <% else %>
        <% @results.each do |result| %>
        <%= link_to result, result %>
        <% end %>
      <% end %>
    </div>
  </div>

    <hr>
