
<div class="hero-unit">
  <h1><%= @results %></h1>
  <h1>Discuss It!</h1>
  <p>Discuss-it – Online article discussion tracker website for locating online discussions about a given article.</p>
  <div class="row-fluid">
    <div class="columnA pull-center">
         <h2>RESULTS!!!</h2>
        <a href="http://www.reddit.com/r/blog/comments/1hih9k/rally_to_restore_your_rights_on_july_4th/">Rally to Restore Your Rights on July 4th</a><br>
        <a href="http://www.reddit.com/r/blog/comments/1hih9k/rally_to_restore_your_rights_on_july_4th/">July 4th Americana or Prison</a><br>
        <a href="http://www.reddit.com/r/blog/comments/1hih9k/rally_to_restore_your_rights_on_july_4th/">Rights to Fights July 4th</a><br>
        <a href="http://www.reddit.com/r/blog/comments/1hih9k/rally_to_restore_your_rights_on_july_4th/">ROAR July 4th</a><br>
        <a href="http://www.reddit.com/r/blog/comments/1hih9k/rally_to_restore_your_rights_on_july_4th/">July 4th - Go America!</a><br>

    </div>
</div>
  <!-- Text input-->
  <hr>
