---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?url=http://restorethefourth.net/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "restorethefourth.net", "banned_by": null, "media_embed":
        {}, "subreddit": "news", "selftext_html": null, "selftext": "", "likes": null,
        "link_flair_text": "Use /r/inthenews ", "id": "1hn4cv", "clicked": false,
        "title": "Restore the Fourth", "media": null, "score": 1, "approved_by": null,
        "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2qh3l",
        "edited": false, "link_flair_css_class": "", "author_flair_css_class": null,
        "downs": 1, "saved": false, "is_self": false, "permalink": "/r/news/comments/1hn4cv/restore_the_fourth/",
        "name": "t3_1hn4cv", "created": 1372985548.0, "url": "http://www.restorethefourth.net/",
        "author_flair_text": null, "author": "mtlion", "created_utc": 1372956748.0,
        "ups": 2, "num_comments": 0, "num_reports": null, "distinguished": null}},
        {"kind": "t3", "data": {"domain": "restorethefourth.net", "banned_by": null,
        "media_embed": {}, "subreddit": "technology", "selftext_html": null, "selftext":
        "", "likes": null, "link_flair_text": null, "id": "1hn4aq", "clicked": false,
        "title": "Restore the Fourth", "media": null, "score": 0, "approved_by": null,
        "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2qh16",
        "edited": false, "link_flair_css_class": null, "[...]
[...]
