%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
      %meta{content: "IE=Edge,chrome=1", http-equiv: "X-UA-Compatible"}
        %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
          %title= "Discuss-It"
    %link{rel: "stylesheet", href: "/css/app.css"}
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{aria-expanded: "false", data-target: "#navbar-collapsable-1", data-toggle: "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: "/"} Discuss It!
        / Collect the nav links, forms, and other content for toggling
        #navbar-collapsable-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: "/about"} About
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "/api"} developers
        / /.navbar-collapse
      / /.container-fluid

    .container-fluid
      .row
        .col-md-1
        .col-md-10
          / CONTENT!
          = render @view_module, @view_template, assigns

          %footer
            %p.app-version
              Discuss It 2016 -
              = " v#{@app_version}"
            %br/
