---
http_interactions:
- request:
    method: get
    uri: http://api.thriftdb.com/api.hnsearch.com/items/_search?filter%5Bfields%5D%5Burl%5D=restorethefourth.net
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Application:
      - thriftdbweb
      Application-Tag:
      - master
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"hits": 0, "facet_results": {"fields": {}, "queries": {}}, "warnings":
        [], "request": {"facet": {"fields": {}, "queries": []}, "stats": {}, "match_stopwords":
        false, "q": "", "start": 0, "limit": 10, "sortby": "score desc", "highlight":
        {"include_matches": false, "fragments": {"maxchars": 100, "include": false,
        "markup_text": false}, "markup_items": false}, "weights": {"username": 1.0,
        "parent_sigid": 1.0, "domain": 1.0, "title": 1.0, "url": 1.0, "text": 1.0,
        "discussion.sigid": 1.0, "type": 1.0}, "filter": {"fields": {"url": ["restorethefourth.net"]},
        "queries": []}, "boosts": {"fields": {}, "functions": {}, "filters": {}}},
        "results": [], "time": 0.003977060317993164}'
  recorded_at: Fri, 19 Jul 2013 02:46:59 GMT
recorded_with: VCR 2.5.0
