---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?url=restorethefourth.net
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "restorethefourth.net", "banned_by": null, "media_embed":
        {}, "subreddit": "politics", "selftext_html": null, "selftext": "", "likes":
        null, "link_flair_text": null, "id": "1gzgs6", "clicked": false, "title":
        "Restore the Fourth Aims to Protest En Masse on the 4th of July Against PRISM
        &amp; NSA Wiretaps.", "media": null, "score": 7, "approved_by": null, "over_18":
        false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2cneq", "edited":
        false, "link_flair_css_class": null, "author_flair_css_class": null, "downs":
        8, "saved": false, "is_self": false, "permalink": "/r/politics/comments/1gzgs6/restore_the_fourth_aims_to_protest_en_masse_on/",
        "name": "t3_1gzgs6", "created": 1372128497.0, "url": "http://www.restorethefourth.net",
        "author_flair_text": null, "author": "dr0ne_", "created_utc": 1372099697.0,
        "ups": 15, "num_comments": 0, "num_reports": null, "distinguished": null}},
        {"kind": "t3", "data": {"domain": "restorethefourth.net", "banned_by": null,
        "media_embed": {}, "subreddit": "POLITIC", "selftext_html": null, "selftext":
        "", "likes": null, "link_flair_text": "politics|dr0ne_", "id": "1gzgv9", "clicked":
        false, "title": "Restore the Fourth Aims to Protest En Masse on the 4th of
        July Against PRISM &amp; NSA Wiretaps.", "media": null, "score": 2, "approved_by":
        null, "over_18": false, "hidden": false, "thum[...]
