---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?url=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [], "after":
        null, "before": null}}'
  recorded_at: Fri, 19 Jul 2013 02:46:59 GMT
recorded_with: VCR 2.5.0
