---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?url=http://jmoiron.net/blog/japanese-peer-peer/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "jmoiron.net", "banned_by": null, "media_embed": {}, "subreddit":
        "technology", "selftext_html": null, "selftext": "", "likes": null, "link_flair_text":
        null, "id": "1hxl84", "clicked": false, "title": "Japan''s anonymous, decentralized
        P2P networks (2008)", "media": null, "score": 397, "approved_by": null, "over_18":
        false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2qh16", "edited":
        false, "link_flair_css_class": null, "author_flair_css_class": null, "downs":
        166, "saved": false, "is_self": false, "permalink": "/r/technology/comments/1hxl84/japans_anonymous_decentralized_p2p_networks_2008/",
        "name": "t3_1hxl84", "created": 1373404772.0, "url": "http://jmoiron.net/blog/japanese-peer-peer/",
        "author_flair_text": null, "author": "whitefangs", "created_utc": 1373375972.0,
        "ups": 563, "num_comments": 21, "num_reports": null, "distinguished": null}},
        {"kind": "t3", "data": {"domain": "jmoiron.net", "banned_by": null, "media_embed":
        {}, "subreddit": "darknetplan", "selftext_html": null, "selftext": "", "likes":
        null, "link_flair_text": null, "id": "1hxkmt", "clicked": false, "title":
        "Japan''s anonymous, decentralized P2P networks (2008)", "media": null, "score":
        63, "approved_by": null, "over_18": false, "hidden": false, "thumbnail": "default",
        "subreddit_id": "t5_2rju2", "edited": false, "link_flair_css_class": null,
        "author_flair_css_class": null, "downs": 16, "saved": false, "is_self": false,
        "permalink": "/r/darknetplan/comments/1hxkmt/japans_anonymous_decentralized_p2p_networks_2008/",
        "name": "t3_1hxkmt", "created": 1373404144.0, "url": "http://jmoiron.net/blog/japanese-peer-peer/",
        "author_flair_text": null, "author": "whitefangs", "created_utc": 1373375344.0,
        "ups": 79, "num_comments": 12, "num_reports": null, "distinguished": null}}],
        "after": null, "before": null}}'
  recorded_at: Tue, 16 Jul 2013 18:31:11 GMT
- request:
    method: get
    uri: http://api.thriftdb.com/api.hnsearch.com/items/_search?filter%5Bfields%5D%5Burl%5D=http://jmoiron.net/blog/japanese-peer-peer/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Application:
      - thriftdbweb
      Application-Tag:
      - master
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"hits": 1, "facet_results": {"fields": {}, "queries": {}}, "warnings":
        [], "request": {"facet": {"fields": {}, "queries": []}, "stats": {}, "match_stopwords":
        false, "q": "", "start": 0, "limit": 10, "sortby": "score desc", "highlight":
        {"include_matches": false, "fragments": {"maxchars": 100, "include": false,
        "markup_text": false}, "markup_items": false}, "weights": {"username": 1.0,
        "parent_sigid": 1.0, "domain": 1.0, "title": 1.0, "url": 1.0, "text": 1.0,
        "discussion.sigid": 1.0, "type": 1.0}, "filter": {"fields": {"url": ["http://jmoiron.net/blog/japanese-peer-peer/"]},
        "queries": []}, "boosts": {"fields": {}, "functions": {}, "filters": {}}},
        "results": [{"item": {"username": "creamyhorror", "parent_sigid": null, "domain":
        "jmoiron.net", "title": "Japanese peer-to-peer (2008)", "url": "http://jmoiron.net/blog/japanese-peer-peer/",
        "text": null, "discussion": null, "id": 6012405, "parent_id": null, "points":
        81, "create_ts": "2013-07-09T13:00:43Z", "num_comments": 33, "cache_ts": "2013-07-16T07:41:00Z",
        "_id": "6012405-fe14c", "type": "submission", "_noindex": false, "_update_ts":
        1373960495523887}, "score": 1.0}], "time": 0.0059659481048583984}'
  recorded_at: Tue, 16 Jul 2013 18:31:11 GMT
recorded_with: VCR 2.5.0
