---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?url=http://www.washingtonpost.com/world/national-security/for-nsa-chief-terrorist-threat-drives-passion-to-collect-it-all/2013/07/14/3d26ef80-ea49-11e2-a301-ea5a8116d211_story.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "washingtonpost.com", "banned_by": null, "media_embed":
        {}, "subreddit": "EndlessWar", "selftext_html": null, "selftext": "", "likes":
        null, "link_flair_text": null, "id": "1idfev", "clicked": false, "title":
        "For NSA chief, terrorist threat drives passion to \u2018collect it all\u2019",
        "media": null, "score": 13, "approved_by": null, "over_18": false, "hidden":
        false, "thumbnail": "", "subreddit_id": "t5_2s4wg", "edited": false, "link_flair_css_class":
        null, "author_flair_css_class": null, "downs": 0, "saved": false, "is_self":
        false, "permalink": "/r/EndlessWar/comments/1idfev/for_nsa_chief_terrorist_threat_drives_passion_to/",
        "name": "t3_1idfev", "created": 1373957682.0, "url": "http://www.washingtonpost.com/world/national-security/for-nsa-chief-terrorist-threat-drives-passion-to-collect-it-all/2013/07/14/3d26ef80-ea49-11e2-a301-ea5a8116d211_story.html",
        "author_flair_text": null, "author": "galt1776", "created_utc": 1373928882.0,
        "ups": 13, "num_comments": 1, "num_reports": null, "distinguished": null}},
        {"kind": "t3", "data": {"domain": "washingtonpost.com", "banned_by": null,
        "media_embed": {}, "subreddit": "privacy", "selftext_html": null, "selftext":
        "", "likes": null, "link_flair_text": null, "id": "1ibe5g", "clicked": false,
        "title": "For NSA chief, terrorist threat drives passion to \u2018collect
        it all\u2019", "media": null, "score": 55, "approved_by": null, "over_18":
        false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2q[...]
- request:
    method: get
    uri: http://api.thriftdb.com/api.hnsearch.com/items/_search?filter%5Bfields%5D%5Burl%5D=http://www.washingtonpost.com/world/national-security/for-nsa-chief-terrorist-threat-drives-passion-to-collect-it-all/2013/07/14/3d26ef80-ea49-11e2-a301-ea5a8116d211_story.html
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Application:
      - thriftdbweb
      Application-Tag:
      - master
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"hits": 1, "facet_results": {"fields": {}, "queries": {}}, "warnings":
        [], "request": {"facet": {"fields": {}, "queries": []}, "stats": {}, "match_stopwords":
        false, "q": "", "start": 0, "limit": 10, "sortby": "score desc", "highlight":
        {"include_matches": false, "fragments": {"maxchars": 100, "include": false,
        "markup_text": false}, "markup_items": false}, "weights": {"username": 1.0,
        "parent_sigid": 1.0, "domain": 1.0, "title": 1.0, "url": 1.0, "text": 1.0,
        "discussion.sigid": 1.0, "type": 1.0}, "filter": {"fields": {"url": ["http://www.washingtonpost.com/world/national-security/for-nsa-chief-terrorist-threat-drives-passion-to-collect-it-all/2013/07/14/3d26ef80-ea49-11e2-a301-ea5a8116d211_story.html"]},
        "queries": []}, "boosts": {"fields": {}, "functions": {}, "filters": {}}},
        "results": [{"item": {"username": "1337biz", "parent_sigid": null, "domain":
        "washingtonpost.com", "title": "For NSA chief, terrorist threat drives passion
        to \"collect it all\" observers say", "url": "http://www.washingtonpost.com/world/national-security/for-nsa-chief-terrorist-threat-drives-passion-to-collect-it-all/2013/07/14/3d26ef80-ea49-11e2-a301-ea5a8116d211_story.html",
        "text": null, "discussion": null, "id": 6043251, "parent_id": null, "points":
        79, "create_ts": "2013-07-15T02:05:54Z", "num_comments": 82, "cache_ts": "2013-07-16T09:54:08Z",
        "_id": "6043251-adf34", "type": "submission", "_noindex": false, "_update_ts":
        1373968475866408}, "score": 1.0}], "time": 0.006142854690551758}'
  recorded_at: Tue, 16 Jul 2013 18:31:11 GMT
recorded_with: VCR 2.5.0
