---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?url=http://www.restorethefourth.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "restorethefourth.net", "banned_by": null, "media_embed":
        {}, "subreddit": "news", "selftext_html": null, "selftext": "", "likes": null,
        "link_flair_text": "Use /r/inthenews ", "id": "1hn4cv", "clicked": false,
        "title": "Restore the Fourth", "media": null, "score": 1, "approved_by": null,
        "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2qh3l",
        "edited": false, "link_flair_css_class": "", "author_flair_css_class": null,
        "downs": 1, "saved": false, "is_self": false, "permalink": "/r/news/comments/1hn4cv/restore_the_fourth/",
        "name": "t3_1hn4cv", "created": 1372985548.0, "url": "http://www.restorethefourth.net/",
        "author_flair_text": null, "author": "mtlion", "created_utc": 1372956748.0,
        "ups": 2, "num_comments": 0, "num_reports": null, "distinguished": null}},
        {"kind": "t3", "data": {"domain": "restorethefourth.net", "banned_by": null,
        "media_embed": {}, "subreddit": "technology", "selftext_html": null, "selftext":
        "", "likes": null, "link_flair_text": null, "id": "1hn4aq", "clicked": false,
        "title": "Restore the Fourth", "media": null, "score": 0, "approved_by": null,
        "over_18": false, "hidden": false, "thumbnail": "", "subreddit_id": "t5_2qh16",
        "edited": false, "link_flair_css_class": null, "[...]
- request:
    method: get
    uri: http://api.thriftdb.com/api.hnsearch.com/items/_search?filter%5Bfields%5D%5Burl%5D=http://www.restorethefourth.net/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Application:
      - thriftdbweb
      Application-Tag:
      - master
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"hits": 2, "facet_results": {"fields": {}, "queries": {}}, "warnings":
        [], "request": {"facet": {"fields": {}, "queries": []}, "stats": {}, "match_stopwords":
        false, "q": "", "start": 0, "limit": 10, "sortby": "score desc", "highlight":
        {"include_matches": false, "fragments": {"maxchars": 100, "include": false,
        "markup_text": false}, "markup_items": false}, "weights": {"username": 1.0,
        "parent_sigid": 1.0, "domain": 1.0, "title": 1.0, "url": 1.0, "text": 1.0,
        "discussion.sigid": 1.0, "type": 1.0}, "filter": {"fields": {"url": ["http://www.restorethefourth.net/"]},
        "queries": []}, "boosts": {"fields": {}, "functions": {}, "filters": {}}},
        "results": [{"item": {"username": "godgod", "parent_sigid": null, "domain":
        "restorethefourth.net", "title": "Restore The Fourth - Nationwide Protests
        against NSA Spy Program", "url": "http://www.restorethefourth.net/", "text":
        "\u201cThe right of the people to be secure in their persons, houses, papers,
        and effects, against unreasonable searches and seizures...\u201d<p>Find a
        Protest in Your Area and help Secure YOUR Privacy<p>Spread the word. It&#x27;s
        started. #RESTORETHEFOURTH", "discussion": null, "id": 5913146, "parent_id":
        null, "points": 2, "create_ts": "2013-06-20T16:56:12Z", "num_comments": 0,
        "cache_ts": "2013-06-27T07:41:30Z", "_id": "5913146-e22b7", "type": "submission",
        "_noindex": false, "_update_ts": 1372318932127747}, "score": 1.0}, {"item":
        {"username": "iProject", "parent_sigid": null, "domain": "restorethefourth.net",
        "title": "Restore the Fourth: Find a Protest in Your Area", "url": "http://www.restorethefourth.net/",
        "text": null, "discussion": null, "id": 5983835, "parent_id": null, "points":
        2, "create_ts": "2013-07-03T11:40:11Z", "num_comments": 0, "cache_ts": "2013-07-10T07:51:27Z",
        "_id": "5983835-09118", "type": "submission", "_noindex": false, "_update_ts":
        1373469023359644}, "score": 1.0}], "time": 0.007272005081176758}'
  recorded_at: Tue, 16 Jul 2013 21:48:50 GMT
[...]
