.wrapper

  %h1 Listing searches

  %table.table
    %tr
      %th Query url
      %th Users
      %th
      %th

    - @searches.each do |search|
      %tr
        %td= link_to search.query_url, search
        %td
          - search.users.all.each do |x|
            = x.email
        / %td= link_to 'Destroy', search, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  / = link_to 'New Search', new_search_path
