.wrapper

  %p#notice= notice

  %p.lead
    = link_to @search.query_url, @search.query_url

  %p
    %strong Users:
    %ul
      - @search.users.all.each do |x|
        %li= x.email

  = link_to 'Back', searches_path
