@import url(http://fonts.googleapis.com/css?family=Lato);

div.columnA{
  background-color: white;
  padding: 1%;
}

body {
  background-color: ghostwhite;
  font-family: "Futura", "Lato", sans-serif;
}
