@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  background-image: -webkit-gradient(linear, 100% 0, 0 0, from(#C1DFCC), to(#0E4B4B));
  background-image: -webkit-linear-gradient(to right, #0E4B4B, #C1DFCC);
  background-image: -moz-linear-gradient(to right, #0E4B4B, #C1DFCC);
  background-image: -o-linear-gradient(to right, #0E4B4B, #C1DFCC);
  background-image: linear-gradient(to right, #0E4B4B, #C1DFCC);
  font-family: Futura, Lato, sans-serif;
}

.wrapper {
  background-color: #eeeeee;
  padding: 2%;
  padding-right: 1%;
  margin-bottom: 1%;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h4 {
  color: #15B28A;
}

/**********************************************
 * Navbar and Footer
 **********************************************/

/* no decoration on brand link 'discuss it' */
a.brand {
  text-decoration: none;
}

/* centers 'about' link on navbar */
.nav > li {
  margin-top: 4%;
}

footer {
  background: none;
}

nav > li {
  vertical-align: middle;
}

/**********************************************
 * General formatting
 **********************************************/

p.suggested {
  font-size: 100%;
  line-height: 110%;
}

#devlink {
  font-size: 90%;
  color: #15B28A;
}