@import url(http://fonts.googleapis.com/css?family=Lato);

div.columnA{
  background-color: white;
  padding: 1%;
}

body {
  background: url('6.jpg') ghostwhite fixed;
  font-family: Futura, Lato, sans-serif;
}
