@import url(http://fonts.googleapis.com/css?family=Lato);

div.columnA{
  background-color: white;
  padding: 1%;
}

body {
  background-image:asset-data-url('6.jpg');
  background-position: fixed;
  background-color:  ghostwhite;
  font-family: Futura, Lato, sans-serif;
}

p.suggested {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: -5px;
}