.row
  .col-md-11
    .jumbotron.jumbotron-cta
      %h1 Discuss It!
      %p Online discussion tracker for finding conversations

      %div

        .row
          %h4.lead How often do you find an article online and want to track down a discussion about it?

          %p Discuss-It allows you to paste in a given URL and we'll find you the best discussion thread across the web, aggregating results from Reddit, HackerNews, and Slashdot.

        #about-thumbnails-container
