.hero-unit
  %h1 Discuss It!
  %p Online link discussion tracker for locating conversations about a given url.

.row-fluid
  %p.pagination-centered
    %br
    %b#discuss-it-errors
    %br
    %b.pull-left Discussions about:
    %br
    %a{href: @query_url}
      = if (String.starts_with?(@query_url, "http")), do: @query_url, else: "http://#{@query_url}"

  %section#top-discussions
    %h3 TOP DISCUSSIONS

    #top-results

      %table.table#top-discussions-table
        %thead
          %tr
            %th.listing-metadata
            %th.listing-link
            %th.listing-score
        %tbody

  %br

  %section#other-discussions
    %h3 OTHER DISCUSSIONS

    #other-results

      %table.table#other-discussions-table
        %thead
          %tr
            %th.listing-metadata
            %th.listing-link
            %th.listing-score
        %tbody

  %br

  %button#filtered-btn.btn.btn-block.btn-large.btn-info{"data-target" => "#filtered-results", "data-toggle" => "collapse", type: "button"}
    %span.caret
    CLICK TO VIEW FILTERED RESULTS
    %span.caret

  #filtered-results.collapse

    %h3.small DISCUSSIONS WITHOUT COMMENTS

    %table.table#filtered-discussions-table
      %thead
        %tr
          %th.listing-metadata
          %th.listing-link
          %th.listing-score
      %tbody
