%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}

    %title
      Discuss It

    / searchability
    %meta{name: "description", content: "Discuss It - Online discussion tracker for finding conversations"}
    %meta{name: "author", content: "lucas charles"}
    %meta{name: "robots", content: "index"}
    %meta{name: "keywords", content: "website, discussions, reddit, slashdot, hackernews, conversations, search"}

    %meta{property: "og:title", content: "Discuss It"}
    %meta{property: "og:type", content: "Website"}
    %meta{property: "og:url", content: "http://discussitapp.com"}
    %meta{property: "og:site_name", content: "Discuss It App"}
    %meta{property: "og:description", content: "Discuss It - Online discussion tracker for finding conversations"}

    / mobile specific metas
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

    / CSS stylesheets
    %link{:rel => "stylesheet", :href => "/css/application.css"}

    / Google Search Console
    %meta{name: "google-site-verification", content: "kMG6lgDLRhhYRIaPnIyu-Zu-Ll8O463w9V6cvzPTDZ4"}

    / Google Analytics
    %script{:type=>"text/javascript"}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29308675-3', 'auto');
      ga('send', 'pageview');

  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a{:href => "/", :class => "brand"}
            Discuss It
          %ul.nav
            %li
              %a{:href => "/about"}
                About
          %ul.nav.pull-right.signin-navbar
            %li#devlink
              %a{:href => "/api"}
                developers
    .container-fluid
      %br
      .row-fluid
        .span9.offset1

          / CONTENT!

          .hero-unit
            %h1 Discuss It!
            %p Online discussion tracker for finding conversations

            .row-fluid
              %form{ :action => "/submit", :method => "GET"}
                .field
                  %label{:for => "url"}
                    Paste your link:
                  %input{:type=>"text", :required => true, :placeholder => "http://example.com/article.html", :autofocus => true, :id => "search-field", :name => "url"}
                  %input{:type=>"submit", :class => "btn btn-primary", :value => "Discuss This!"}
                  %label{:for => "strip_params", :class => "muted", :alt_text => "Remove extraneous parameters, may yield better results"}
                    Strip url params?
                    %input{:type=>"checkbox", :id => "strip_params", :value => "true", :name => "strip_params", :checked => 'checked'}
                  %label{:for => "source[]", :class => "muted", :alt_text => "Sources to query for discussions"}
                    Source:
                    %input{:type=>"checkbox", :value => "reddit", :name => "source[]", :checked => "checked"}
                      Reddit
                    %input{:type=>"checkbox", :value => "hn", :name => "source[]", :checked => "checked"}
                      HackerNews
                    %input{:type=>"checkbox", :value => "slashdot", :name => "source[]", :checked => "checked"}
                      Slashdot
            .row-fluid
              %h6 Suggested Searches
              %p.suggested
                %a{:href => "/submit?url=http://singularityhub.com/2013/07/27/canvas-camera-brush-and-algorithms-enable-robot-artists-beautiful-paintings/"}
                  "Robot Produces Paintings With That 'Imperfect' Human Look - singularityhub.com"
              %p.suggested
                %a{:href => "/submit?url=http://www.theguardian.com/world/2013/sep/05/nsa-gchq-encryption-codes-security"}
                  "Revealed: how US and UK spy agencies defeat internet privacy and security - theguardian.com"
              %p.suggested
                %a{:href => "/submit?url=http://i.imgur.com/gOLvZVO.jpg"}
                  "Photo of all-black house in Germany - imgur.com"

        %footer.span3
          %p
            Discuss It 2014 -
            = " v" + DiscussIt::VERSION
          %br/
