
%link{:rel => "stylesheet", :href => "/css/application.css"}

  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a{:href => "/", :class => "brand"}
            Discuss It
          %ul.nav
            %li
              %a{:href => "/about"}
                About
          %ul.nav.pull-right.signin-navbar
            %li#devlink
              %a{:href => "/api"}
                developers
    .container-fluid
      %br
      .row-fluid
        .span9.offset1

          / CONTENT!

          .hero-unit
            %h1 Discuss It!
            %p Online link discussion tracker for locating conversations about a given url.

            .row-fluid
              %p.pagination-centered
                %br
                %b#discuss-it-errors
                %br
                %b.pull-left Discussions about:
                %br
                %a{:href => "#{@query_url}"}
                  = @query_url.start_with?('http') ? @query_url : "http://#{@query_url}"

              %section#top-discussions
                %h3 TOP DISCUSSIONS

                #top-results

                  %table.table#top-discussions-table
                    %thead
                      %tr
                        %th.listing-metadata
                        %th.listing-link
                        %th.listing-score
                    %tbody

              %br

              %section#other-discussions
                %h3 OTHER DISCUSSIONS

                #other-results

                  %table.table#other-discussions-table
                    %thead
                      %tr
                        %th.listing-metadata
                        %th.listing-link
                        %th.listing-score
                    %tbody

              %br

              %button#filtered-btn.btn.btn-block.btn-large.btn-info{"data-target" => "#filtered-results", "data-toggle" => "collapse", type: "button"}
                %span.caret
                CLICK TO VIEW FILTERED RESULTS
                %span.caret

              #filtered-results.collapse

                %h3.small DISCUSSIONS WITHOUT COMMENTS

                %table.table#filtered-discussions-table
                  %thead
                    %tr
                      %th.listing-metadata
                      %th.listing-link
                      %th.listing-score
                  %tbody

        %footer.span3
          %p{:style => "color: eeeeee"}
            Discuss It 2013 -
            = " v" + DiscussIt::VERSION
          %br/

%script{:src => "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js", :type => "text/javascript"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js", :type => "text/javascript"}
%script{:src => "//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.0/spin.min.js", :type => "text/javascript"}
%script{:src => "/javascripts/jquery.spin.js", :type => "text/javascript"}
%script{:src => "/javascripts/oboe-browser.js", :type => "text/javascript"}
%script{:src => "/javascripts/submit.js", :type => "text/javascript"}
